<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spudydev.spudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegistroActivity" />
        <activity android:name=".Activity.ResgatarSenhaEmailActivity" />
        <activity android:name=".Activity.ConfirmRegistroActivity" />
        <activity
            android:name=".Activity.MainAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MeuPerfilAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AlterarDadosCadastraisActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Alteracao.AlterarNomeActivity" />
        <activity android:name=".Activity.Alteracao.AlterarDataNascimentoActivity" />
        <activity android:name=".Activity.Alteracao.AlterarInstituicaoActivity" />
        <activity android:name=".Activity.Alteracao.AlterarSenhaActivity" />
        <activity android:name=".Activity.Alteracao.AlterarEmailActivity" />
        <activity
            android:name=".Activity.DisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainCriarDisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AdicionarMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MeuPerfilProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>