<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spudydev.spudy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.spudydev.spudy.infraestrutura.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.spudydev.spudy.pessoa.gui.RegistroActivity" />
        <activity android:name="com.example.spudydev.spudy.pessoa.gui.ConfirmRegistroActivity" />
        <activity
            android:name=".usuario.gui.MainAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.usuario.gui.MainProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.activity.AlterarDadosCadastraisActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.activity.DisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.activity.MainCriarDisciplinaActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.activity.AdicionarMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.spudydev.spudy.activity.MainMaterialActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>