<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spudydev.spudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".infraestrutura.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.RegistroActivity"
            android:label="Registre-se"/>
        <activity
            android:name=".usuario.gui.ConfirmRegistroActivity" />
        <activity
            android:name=".pessoa.gui.AlterarNomeActivity"
            android:label="Digite o seu nome"/>
        <activity
            android:name=".pessoa.gui.AlterarDataNascimentoActivity" />
        <activity
            android:name=".usuario.gui.AlterarInstituicaoActivity" />
        <activity
            android:name=".usuario.gui.AlterarSenhaActivity" />
        <activity
            android:name=".usuario.gui.AlterarEmailActivity" />
        <activity
            android:name=".usuario.gui.ResgatarSenhaEmailActivity"/>
        <activity
            android:name=".usuario.aluno.gui.MainAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".usuario.professor.gui.MainProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilAlunoActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".perfil.gui.MeuPerfilProfessorActivity"
            android:label="@string/sp_title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".pessoa.gui.AlterarEnderecoActivity"></activity>
    </application>

</manifest>